<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API test suite">
    <test name="BookStore API tests">
        <classes>
            <class name="tbc.tbcacademy.ge.testbookstore.BookStoreAPI"/>
        </classes>
    </test>
    <test name="PetStore API tests">
        <classes>
            <class name="tbc.tbcacademy.ge.testpetstore.PetStoreAPI"/>
        </classes>
    </test>
    <test name="RestfulBooker API tests">
        <classes>
            <class name="tbc.tbcacademy.ge.restfulbookertest.RestfulBookerAPI"/>
        </classes>
    </test>
</suite>