<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API test suite">
    <test name="OorSprong API tests">
        <classes>
            <class name="tbc.tbcacademy.ge.oorsprongtest.OorSprongAPI"/>
        </classes>
    </test>
    <test name="SpringSoap API tests">
        <classes>
            <class name="tbc.tbcacademy.ge.springsoaptest.SpringSoapAPI"/>
        </classes>
    </test>
    <test name="Crcing API tests">
        <classes>
            <class name="tbc.tbcacademy.ge.crcindtest.CrcindAPI"/>
        </classes>
    </test>
</suite>